<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="vk_login" type="text" label="30001" default="" />
    <setting id="vk_password" type="text" label="30002" option="hidden" default="" />
    <setting id="vk_token" type="text" visible="false" default="" />
    <setting type="sep" />
    <setting id="lastfm_login" type="text" label="30003" default="" />
    <setting id="lastfm_password" type="text" label="30004" option="hidden" default="" />
    <setting id="lastfm_session_key" type="text" visible="false" default="" />
    <setting id="lastfm_scrobbling" type="bool" label="30005" values="false" default="false" />
    <setting id="lastfm_lang" type="enum" label="30037" values="Default|Chinese|English|French|German|Italian|Japanese|Polish|Portuguese|Russian|Spanish|Swedish|Turkish" default="0" />
    <setting type="action" label="30006" action="RunPlugin(plugin://plugin.audio.lastvk/?json%7B%22url%22%3A+%5B%22link%22%2C+%22clear-cache%22%2C+%7B%22site%22%3A+%22lastfm%22%7D%5D%2C+%22source%22%3A+%22item%22%2C+%22folder%22%3A+true%2C+%22parent%22%3A+%7B%22info%22%3A+%7B%7D%2C+%22title%22%3A+%22CLEAR%22%2C+%22fanart%22%3A+null%2C+%22media%22%3A+null%2C+%22cover%22%3A+null%2C+%22label%22%3A+null%2C+%22color1%22%3A+null%2C+%22color3%22%3A+null%2C+%22color2%22%3A+null%2C+%22path%22%3A+null%2C+%22property%22%3A+%7B%7D%2C+%22icon%22%3A+null%7D%7D)" />
    <setting type="action" label="30007" action="RunPlugin(plugin://plugin.audio.lastvk/?json%7B%22url%22%3A+%5B%22link%22%2C+%22clear-cache%22%2C+%7B%22site%22%3A+%22vk%22%7D%5D%2C+%22source%22%3A+%22item%22%2C+%22folder%22%3A+true%2C+%22parent%22%3A+%7B%22info%22%3A+%7B%7D%2C+%22title%22%3A+%22CLEAR%22%2C+%22fanart%22%3A+null%2C+%22media%22%3A+null%2C+%22cover%22%3A+null%2C+%22label%22%3A+null%2C+%22color1%22%3A+null%2C+%22color3%22%3A+null%2C+%22color2%22%3A+null%2C+%22path%22%3A+null%2C+%22property%22%3A+%7B%7D%2C+%22icon%22%3A+null%7D%7D)" />
</settings>
